#new-task-btn {
    padding: 13px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;

    font-family: var(--font);
    font-size: 1em;
    color: var(--basic-color);

    background: none;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

#new-task-btn:hover {
    background-color: var(--secondary-color);
}

.none-task-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#none-task {
    font-size: 1.6em;
    text-transform: uppercase;
    color: var(--basic-color);
    padding: 4px;
}

.none-task-area > span {
    border-top: 1px solid var(--basic-color);
    font-size: 1em;
    color: var(--primary-color);
    padding: 10px;
}
